{% macro pagination(address, page, num_pages, show_pages=10) -%}
    {% set page_start = (page - 1) // show_pages * show_pages + 1 %}
    <ul>
    {%- if page_start > 1 -%}
        <li><a href="{{ url_for(address, page=page_start - 1) }}">&laquo;</a></li>
    {%- else -%}
        <li class="disabled"><span>&laquo;</span></li>
    {%- endif -%}
    {%- for i in range(page_start, page_start + show_pages) -%}
        {%- if page == i -%}
        <li class="active"><span>{{ i }}</span></li>
        {%- else -%}
        <li><a href="{{ url_for(address, page=i) }}">{{ i }}</a></li>
        {%- endif -%}
    {%- endfor -%}
    {%- if page_start - 1 + show_pages < num_pages -%}
        <li><a href="{{ url_for(address, page=page_start + show_pages) }}">&raquo;</a></li>
    {%- else -%}
        <li class="disabled"><span>&raquo;</span></li>
    {%- endif -%}
    </ul>
{%- endmacro %}