<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container nav-collapse collapse">
        <ul class="nav" id="cur_modules">
          <li>
              <div class="btn-group">
                <a class="btn btn-small btn-inverse" href="#" title="Главная страница"><i class="icon-home icon-white"></i></a>
              </div>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li>
              <div class="btn-group">
                <a class="btn btn-small btn-inverse" href="javascript:startIntro();" title="Помощь"><i class="icon-question-sign icon-white"></i></a>
              </div>
          </li>
        </ul>
    </div>
  </div>
</div>